# Clean data

## Libraries

In [1]:
import pandas as pd

pd.set_option("display.max_columns", None)

## Develop

### Read

In [2]:
data_linea = pd.read_csv("../data/emt-linea-data.csv")
data_linea.shape

(11560, 38)

In [3]:
data_linea.head(3)

,OBJECTID,MODO,CODIGOITINERARIO,CODIGOGESTIONLINEA,NUMEROLINEAUSUARIO,SENTIDO,TIPOITINERARIO,CODIGOESTACION,CODIGOPOSTE,CODIGOANDEN,NUMEROORDEN,IDENTIFICADORTIPOPARADA,TIPOPARADA,DENOMINACION,CODIGOPROVINCIA,CODIGOMUNICIPIO,MUNICIPIO,CORONATARIFARIA,DIRECCION,FECHAALTA,FECHAINICIO,FECHAFIN,LONGITUDTRAMOANTERIOR,VELOCIDADTRAMOANTERIOR,MODOLINEA,IDFINTERCAMBIADOR,CODPROV_LINEA,CODMUN_LINEA,IDFTRAMO,CODIGOOBSERVACION,CODIGOSUBLINEA,DENOMINACION_SAE,IDFLINEA,IDFITINERARIO,IDFESTACION,IDFPOSTE,IDFANDEN,CODIGOCTMESTACIONREDMETRO
0,1,6,283802,91,F,2,1,1531,*,NaN,9,TI,I,AV.REINA VICTORIA-AV.PABLO IGLESIAS,28,79,MADRID,A,Avda de la Reina Victoria N 19,19991221,19861001,NaN,321.4525,11.071,6,_,NaN,NaN,6__91_____2_IT_1_6_1531_*__TI_I_9,NaN,NaN,NaN,6__91___,6__91_____2_IT_1,6_1531,6_1531_*,6_1531_,NaN
1,2,6,283736,127,127,2,1,1531,*,NaN,28,TI,I,AV.REINA VICTORIA-AV.PABLO IGLESIAS,28,79,MADRID,A,Avda de la Reina Victoria N 19,19991221,19961019,NaN,311.1068,12.750,6,_,NaN,NaN,6__127_____2_IT_1_6_1531_*__TI_I_28,NaN,NaN,NaN,6__127___,6__127_____2_IT_1,6_1531,6_1531_*,6_1531_,NaN
2,3,6,283890,68,C1,2,1,1531,*,NaN,25,TI,I,AV.REINA VICTORIA-AV.PABLO IGLESIAS,28,79,MADRID,A,Avda de la Reina Victoria N 19,19991221,19861001,NaN,321.4525,11.726,6,_,NaN,NaN,6__68_____2_IT_1_6_1531_*__TI_I_25,NaN,NaN,NaN,6__68___,6__68_____2_IT_1,6_1531,6_1531_*,6_1531_,NaN

In [4]:
data = pd.read_csv("../data/emt-data.csv")
data.shape

(4852, 53)

In [5]:
data.head(3)

,OBJECTID,IDESTACION,FECHAACTUAL,MODO,CODIGOESTACION,DENOMINACION,OBSERVACIONES,SITUACION,CODIGOCTMESTACIONREDMETRO,CODIGOEMPRESA,DENOMINACIONABREVIADA,MODOINTERCAMBIADOR,CODIGOINTERCAMBIADOR,TIPO,CODIGOPROVINCIA,CODIGOMUNICIPIO,CODIGOENTIDAD,CODIGONUCLEO,CODIGOVIA,TIPOVIA,PARTICULA,NOMBREVIA,TIPONUMERO,NUMEROPORTAL,CALIFICADORPORTAL,CARRETERA,CODIGOPOSTAL,DISTRITO,SECCIONCENSAL,BARRIO,TESELA,SECTORURBANO,SECTOR,CORREDOR,CORONATARIFARIA,CORONA123,ZONATRANSPORTE,ENCUESTADOMICILIARIA,ENCUESTAAFOROS,HOJA25000,ACONDICIONAMIENTOVIAJEROS,ACONDICIONAMIENTOVEHICULOS,FECHAALTA,FECHAINICIO,FECHAFIN,X,Y,GRADOACCESIBILIDAD,SITUACIONCALLE,DENOMINACION_SAE,INTERURBANOS_CODIGOEMT_CRTM,INTERURBANOS_CODIGOEMT_EMPRESA,LINEAS
0,1,6_3061,20240117,6,3061,AV.PABLO NERUDA-MALGRAT MAR,NaN,S,NaN,2522,"Pablo Neruda, 4",NaN,NaN,U,28,79,7901,NaN,09733,Avda,de,Pablo Neruda,N,2,E,NaN,28038,13,142.0,135.0,NaN,NaN,3.0,3.0,A,2.0,079-13-346,346,NaN,NaN,2,3,20010709,19861001,NaN,445669.0,4471747.0,T,NaN,NaN,NaN,NaN,"54, 142, 144"
1,2,6_3007,20240117,6,3007,CERRO DEL CASTAÑAR-MORALZARZAL,NaN,S,NaN,1748,"Cerro del Castañar, 165",NaN,NaN,U,28,79,7901,790101.0,01315,Calle,del,Cerro del Castañar,N,167,NaN,NaN,28034,8,136.0,87.0,T079856,NaN,NaN,7.0,A,1.0,079-08-161,161,NaN,559-1,2,3,20010709,19861001,NaN,439614.0,4483041.0,T,NaN,NaN,NaN,NaN,134
2,3,6_3066,20240117,6,3066,ANDALUCES-SAN CLAUDIO,NaN,S,NaN,2530,"Andaluces, 13",NaN,NaN,U,28,79,7901,790101.0,99999,Calle,de los,Andaluces,N,9,NaN,NaN,28038,13,134.0,134.0,T07912315,NaN,3.0,3.0,A,2.0,079-13-347,347,NaN,NaN,2,3,20010709,19861001,NaN,446036.0,4471456.0,T,NaN,NaN,NaN,NaN,54

### Clean

In [6]:
data = data[~data["LINEAS"].isnull()]
data["PARTICULA"] = data["PARTICULA"].fillna("")

In [7]:
data["DIRECCION"] = data["TIPOVIA"].str.strip() + " " + data["PARTICULA"].str.strip() + " " + data["NOMBREVIA"].str.strip() + " " + data["NUMEROPORTAL"].str.strip()
data = data[~data["DIRECCION"].isnull()]

In [8]:
columns = [
    "CODIGOESTACION", "CODIGOEMPRESA", "DENOMINACION", "LINEAS", 
    "DIRECCION", "CODIGOPOSTAL", "DISTRITO",
]
data_s = data[columns]

### Transform

In [9]:
data_s["LINEAS"] = data_s["LINEAS"].str.split(",")

C:\Users\EstebanSanchezGarcia\AppData\Local\Temp\ipykernel_18736\335751077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_s["LINEAS"] = data_s["LINEAS"].str.split(",")

In [10]:
data_s_tabular = data_s.explode(column="LINEAS")

### Personalize

In [11]:
for col in data_s_tabular.columns:
    data_s_tabular[col] = data_s_tabular[col].astype(str)
    data_s_tabular[col] = data_s_tabular[col].str.strip()
data_s_tabular.dtypes
data_s_tabular["DIRECCION"] = data_s_tabular["DIRECCION"].replace(r"\s+", " ")
data_s_tabular = data_s_tabular.rename(columns={
    "CODIGOESTACION": "codigo_estacion",
    "CODIGOEMPRESA": "codigo_parada",
    "DENOMINACION": "nombre_parada",
    "LINEAS": "linea",
    "DIRECCION": "direccion_parada",
    "CODIGOPOSTAL": "cp_parada",
    "DISTRITO": "distrito_parada"
})

### Transform lineas

In [12]:
consecutive_pairs = lambda ele: [(ele[i], ele[i + 1]) for i in range(len(ele) - 1)]

In [13]:
lineas_cols = ["NUMEROLINEAUSUARIO", "SENTIDO", "NUMEROORDEN", "CODIGOESTACION"]

In [14]:
data_linea_s = data_linea[lineas_cols].sort_values(lineas_cols[:-1])

In [15]:
data_linea_s = data_linea_s.groupby(["NUMEROLINEAUSUARIO", "SENTIDO"], as_index=False)["CODIGOESTACION"].apply(list)

In [16]:
data_linea_s["CODIGOESTACION"] = data_linea_s["CODIGOESTACION"].apply(consecutive_pairs)

In [17]:
data_linea_s = data_linea_s.explode("CODIGOESTACION")

In [18]:
data_linea_s["from_codigo_estacion"] = data_linea_s["CODIGOESTACION"].str[0]
data_linea_s["to_codigo_estacion"] = data_linea_s["CODIGOESTACION"].str[1]
data_linea_s = data_linea_s.rename(columns={
    "NUMEROLINEAUSUARIO": "edge"
})
data_linea_s = data_linea_s[["from_codigo_estacion", "to_codigo_estacion", "edge"]]

In [19]:
data_linea_s = data_linea_s.drop_duplicates(keep="first")

### Save

In [20]:
data_s_tabular.to_csv("../data/emt-data-clean.csv", index=False)

In [21]:
data_linea_s.to_csv("../data/emt-linea-data-clean.csv", index=False)